*{
  background-color: white;
  font-family: 'Nanum Gothic', sans-serif;
}

/* Style the navbar */
#navbar {
  overflow: hidden;
  width: 100%;
  height: 80px;
  background-attachment: fixed;
  background-color: cadetblue;
}

/* Navbar links */
#navbar a {
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  background-color: cadetblue;
  font-size: 24px;
  float: right;
}

#navbar img{
  background-color: cadetblue;
  margin-top: 15px;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

/*Header */
/* #header img{
  width: 200px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
} */

/* Header subtitle */
#subtitle {
  font-size: 48px;
  text-align: center;
  margin-top: 0;
}


#aboutText {
  font-size: 24px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

#pin img{
  height: 100%;
  width: auto;
}

#aboutBox{
  display: flex;
  flex-direction: row;
  border-left: black;
  font-size: 24px;
  align-items: top;
}

#boxes{
  padding: 40px;
}

/* Style the footer */
#footer {
  overflow: hidden;
  width: 100%;
  height: 150px;
  background-attachment: fixed;
  background-color: cadetblue;
}

/* Footerlinks */
#footer a {
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  background-color: cadetblue;
  font-size: 24px;
}

.states {
  background: whitesmoke;
  font-size: 20px;
  border: solid 6px darkgray;
  padding: 20px;
  margin: 20px;
  width: 100%;
}